<html lang="en">

<head>
<meta charset="UTF-8">
<title>Title</title>
</head>

<body>

<p>This is an R HTML document. When you click the <b>Knit HTML</b> button a web page will be generated that includes both content as well as the output of any embedded R code chunks within the document. You can embed an R code chunk like this:</p>

<!--begin.rcode, results='asis', echo=FALSE
library("rvest")

pop <- html("http://en.wikipedia.org/wiki/List_of_people_who_died_climbing_Mount_Everest")
df1 <- html_table(html_nodes(pop, "table")[[1]], fill=TRUE)


##dates<-substr(df1$Date,regexpr("!", df1$Date) + 1 , nchar(df1$Date))
dates <- as.Date(df1$Date)
dates[231] <- as.Date("2012-10-19")
dates[240] <- as.Date("2014-04-02")
dates[241:256] <- as.Date("2014-04-18")
dates<-format(dates, "%m")
df1$Date <- dates
counts <- table(df1$Date)

cyl <- c("Jan", "Mar", "Apr", "May", "Jun", "Aug", "Sep", "Oct", "Nov", "Dec")

barplot(counts, names.arg=cyl, ylim = c(0,120), xlab = "Month", ylab="Casualties", main="Deaths by month")


end.rcode-->

<p>You can also embed plots, for example:</p>

</body>
</html>
